name: Continuous Delivery

on:
  push:
    branches:
      - 'chore/tag-releases'

jobs:
  release:
    if: contains(github.event.commits[0].message, 'chore(release)') == false
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          # Fetch all history.
          fetch-depth: 0
          persist-credentials: true
      - name: Setup Node.js
        uses: actions/setup-node@v1
      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          key: npm-${{ hashFiles('package-lock.json') }}
          path: ~/.npm
          restore-keys: |
            npm-
      - name: Install dependencies
        run: npm ci --ignore-scripts --no-audit --no-progress --prefer-offline
      - name: Build
        run: npm run build
      - env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN_DOTTBOTT }}
        id: release
        name: Release
        uses: ridedott/release-me-action@chore/tag-releases
        with:
          commit-assets: |
            ./dist
          node-module: true
          dry-run: true
          release-branches: chore/tag-releases
      - name: Output
        if: steps.release.outputs.released == 'true'
        run: |
          echo released version: ${{ steps.release.outputs.major }}
